.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  animation: appear 0.8s ease-out;
}

@keyframes appear {
  from {
    opacity: 0%;
    transform: translateY(50px);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}
