.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  min-height: 100px;
  width: 100%;
}

.navbar h1 {
  font-size: 3rem;
  font-family: "Sriracha", cursive;
}

.navbar > div {
  display: flex;
  gap: 50px;
}

.navbar button {
  background-color: inherit;
  border: none;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  position: relative
}

.hr{
  width: 80%;
  margin: auto;
  height: 3px;
  background-color: black;
}

.navbar button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
  transform: scaleX(0); /* hidden */
  transform-origin: left;
  transition: transform 0.2s ease-out;
}

.navbar button:hover::after {
  transform: scaleX(1);
}
