.main {
  display: grid;
  grid-template-columns: 250px 5fr;
  gap: 50px;
  padding: 50px;
  animation: appear 0.8s ease-out;
}

@keyframes appear {
  from {
    opacity: 0%;
    transform: translateY(50px);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}
