* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
}

@keyframes appear {
  from {
    opacity: 0%;
    transform: translateY(50px);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}
